<?xml version="1.0" encoding="utf-8"?>
<tv>

    <% for (const program of epg) { %>
        <programme start="<%- program.startEpoch %>" stop="<%- program.endEpoch %>" channel="TODO">
            <title><%- program.showname %></title>
            <desc><%- program.description %></desc>
            <icon src="<%- program.episodeThumbnail %>">
            </icon>
        </programme>
        <% } %>

</tv>